body {
  font-family: "Poppins", sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(8px);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pokedevs {
  display: flex;
  gap: 30px;
  padding: 30px 0
}

.pokedev-card {
  display: none;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 255) 0px 7px 29px 0px;
}

.open {
  display: block;
}

.pokedev-card img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.top-card {
  padding: 30px 40px 0;
}

.name {
  margin-bottom: 5px;
}

.type {
  background-color: #ffffff;
  font-size: 12px;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
}

.details {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 30px 50px;
  margin-top: -70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.info-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b727a;
}

.description {
  padding: 0 10px;
  font-size: 15px;
  max-height: 150px;
  overflow-y: scroll;
}

.electric-type {
  background-color: #fcc719;
}

.water-type {
  background-color:  #015C98;
}

.fire-type {
  background-color: #f15000d2;
}

.grass-type {
  background-color: #49D0B0;
}

.psychic-type {
  background-color: #f85888;
}

.fairy-type {
  background-color: #C29791;
}

.pokedev-nav {
  max-width: 200px;
}

.pokedev-nav .pokedev img {
  width: 25%;
}

.pokedev-nav .pokedev {
  background-color: #6b727a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 70px;
  transition: 0.15 ease-in-out;
}

.pokedev-nav .pokedev:hover {
  transform: scale(1.05);
}

.pokedev span {
  padding-right: 20px;
}

.pokedev-nav .pokedev.active {
  background-color: #fa6668;
}

